@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    font-family: 'Inter';
    font-weight: 400;
}
body{
    background-color: #EDEEF3;
}
.wrapper{
    max-width: 986px;
    width: 100%;
    margin: 80px auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}

.title{
    text-decoration: underline;
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    font-family: 'Inter';
    font-weight: 700;
    margin: 0 0 12px;
}
.emoj{
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 18px;
}
.desc{
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #3F444A;
}
header{
    max-width: 1440px;
    width: 100%;
    height: 295px;
    display: block;
    margin: 0 auto;
    background: linear-gradient(#087990, #055160);
    color: #CFF4FC;
    text-align: center;
}
header h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
}
#finder{
    position: absolute;
    top: 310px;
    transform: translate(-50%);
    width: 820px;
    height: 64px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-size: 24px;
    line-height: 21px;
    color: #ABB5BE;
}
